html,body { 
   
   background-image: url(../images/Lightforest.jpeg);
   width: 100%;
   height: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;

}

#buttons {
display:flex;
justify-content: center;
align-items: center;

}

#Stats{
    background: white;
    /*Need to style*/
}


/*#Credits{
    
}
*/
#Pokemon-Image{
   position:absolute;
   
    left: 39%;
    
    
}

