html,body { 
    /*background-image: url('https://images.unsplash.com/photo-1542779283-429940ce8336?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');*/
    background-image : url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/80ff523f-ff84-457d-a547-464588d3a3d3/df2hy4p-65cda4a8-71fa-475e-87a7-2cad0e478102.jpg/v1/fill/w_1032,h_774,q_70,strp/forest_background_6_by_willdinomaster55_df2hy4p-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTAwIiwicGF0aCI6IlwvZlwvODBmZjUyM2YtZmY4NC00NTdkLWE1NDctNDY0NTg4ZDNhM2QzXC9kZjJoeTRwLTY1Y2RhNGE4LTcxZmEtNDc1ZS04N2E3LTJjYWQwZTQ3ODEwMi5qcGciLCJ3aWR0aCI6Ijw9MTIwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.rLevn78FHr4Cztsc8dnLdwLhpRtzHFtrxptCxYzNGgs');
   width: 100%;
   height: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;

}

#buttons {
display:flex;
justify-content: space-around;
}

#Stats{
    background: white;
    /*Need to style*/
}

/*.darkmode{

}*/